<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.petitur"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".data.FirebaseAppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.TaskSelectionActivity">
        </activity>
        <activity android:name=".ui.PetListActivity">
        </activity>
        <activity android:name=".ui.EditProfileActivity">
        </activity>
        <activity android:name=".ui.PreferencesActivity">
        </activity>
    </application>

</manifest>